<div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <!-- <img src="http://t.cn/RCzsdCq" class="layui-nav-img"> -->
              {$Think.session.adminInfo.admin_name}
            </a>
            <dl class="layui-nav-child">
              <dd><a href="">基本资料</a></dd>
              <dd><a href="">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a href="{:url('Login/quit')}">退了</a></li>
        </ul>
      </div>